<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="hu">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Találd ki!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container-fluid pt-4">

    <div class="container pt-3">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h5>Popkultúrális quizverseny!</h5>
            </div>
            <div class="card-body">
                <span th:switch="${errNincsNev}">
                    <div th:case="hiba" class="alert alert-danger alert-dismissible fade show" data-dismiss="alert" aria-label="close">
                        <strong>Hiba!</strong> Nem adtál meg nevet!
                    </div>
                    <div th:case="*"></div>
                </span>

                <h6 class="card-subtitle mb-2 text-muted">Válaszolj annyi kérdésre, amennyire csak tudsz!</h6>
                <form action="/kerdesek/random_kerdes" method="post">

                    <div class="form-group">
                        <input type="input" name="nev" class="form-control" id="nev" placeholder="Add meg a neved">
                        <small id="nevSubmit" class="form-text text-muted">Írd be a neved, hogy azonosítani tudjam a
                            válaszaid.</small>
                    </div>
                    <table>
                        <tr>
                            <td width="100%"><button type="submit" class="btn btn-primary">Hajrá!</button></td>
                            <td><a href="/kerdesek/getlist" class="btn btn-danger">Kérdés Admin</a></td>
                            <td><a href="/valaszok/getlist" class="btn btn-danger">Válasz Admin</a></td>
                        </tr>
                    </table>

                </form>
            </div>
        </div>
    </div>
    <div class="container pt-3">
        <div class="card">
            <div class="card-header bg-success text-white">
                <h5>TOP 10</h5>
            </div>
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Válaszolj annyi kérdésre, amennyire csak tudsz!</h6>
                <div th:switch="${kerdoivek}" class="container">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Név</th>
                            <th>Pont</th>
                        </tr>
                        </thead>
                        <tbody th:case="NA">
                        <tr><td colspan="3">Nincs kérdőív rögzítve!</td></tr>
                        </tbody>
                        <tbody th:case="*">
                        <tr th:each="kerdoiv: ${kerdoivek}">
                            <td th:text="${kerdoiv.id}"></td>
                            <td th:text="${kerdoiv.tulajdonos}"></td>
                            <td th:text="${kerdoiv.helyesValaszok}"></td>
                        </tr>
                        </tbody>

                    </table>

                </div>
            </div>
        </div>
    </div>

</div>
</body>

</html>