<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="hu">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Találd ki!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>

<body>

<div class="container-fluid pt-4">

    <div class="container pt-3">
        <div class="card">
            <div class="card-header bg-success text-white">
                <h5>Kérdések</h5>
            </div>
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Az adatbázisban szereplő kérdés adminisztrációja</h6>
                <div th:switch="${kerdesek}" class="container">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Kérdés szöveg</th>
                        </tr>
                        </thead>
                        <tbody th:case="NA">
                            <tr><td colspan="2">Nincs kérdés rögzítve!</td></tr>
                        </tbody>
                        <tbody th:case="*">
                        <tr th:each="kerdes : ${kerdesek}">
                            <td th:text="${kerdes.id}"></td>
                            <td th:text="${kerdes.kerdesSzoveg}"></td>
                        </tr>
                        </tbody>
                        <form action="#" th:action="@{/kerdesek/ujkerdes}" th:object="${kerdes}" method="post">
                            <table class="table table-striped">
                                <tr>
                                    <td width="100%">
                                        <input type="text" name="kerdesSzoveg" class="form-control" id="kerdesSzoveg" th:field="*{kerdesSzoveg}" placeholder="Írd be a kérdést">
                                    </td>
                                    <td>
                                        <button type="submit" class="btn btn-primary">Új kérdés</button>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </table>
                    <a href="/" class="btn btn-warning text-white">Vissza</a>&nbsp;<a href="/valaszok/getlist" class="btn btn-danger text-white">Válasz Admin</a>
                </div>
            </div>
        </div>
    </div>

</div>
</body>

</html>