<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="hu">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Találd ki!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>

<body>

<div class="container-fluid pt-4">

    <div class="container pt-3">
        <div class="card" th:switch="${kerdes}">
            <div class="card-header bg-primary text-white">
                <h5 th:text="${nev} + '! Válaszolj a kérdésre!'" />
            </div>
            <div class="card-body" th:case="NA">
                <div class="alert alert-danger alert-dismissible fade show" data-dismiss="alert" aria-label="close">
                    <strong>Ajaj!</strong> Elfogytak a kérdések!
                </div>
                <a href="/" class="btn btn-warning text-white">Vissza</a>
            </div>
            <div class="card-body" th:case="*">
                <form th:action="@{/kerdesek/random_kerdes}" method="post">
                    <input type="hidden" name="nev" th:value="${nev}">
                    <input type="hidden" name="kerdes_id" th:value="${kerdes.id}">
                    <h6 th:text="${kerdes.kerdesSzoveg}" />
                    <div class="form-group pt-3">
                        <div th:switch="${valaszok}" class="container">
                            <table class="table table-striped">


                                <tbody th:case="NA">
                                <tr><td colspan="2">Nincs válasz a kérdéshez!</td></tr>
                                </tbody>
                                <tbody th:case="*">
                                <tr th:each="valasz : ${valaszok}">
                                    <td>
                                        <input type="radio" th:name="valasz_id" th:value="${valasz.id}">
                                    </td>
                                    <td width="100%" th:text="${valasz.valaszSzoveg}"></td>
                                </tr>
                                </tbody>
                            </table>
                            <input type="submit" class="btn btn-primary text-white" th:value="Következő" />&nbsp;<a href="/" class="btn btn-warning text-white">Vissza</a>
                        </div>

                    </div>

                </form>
            </div>
        </div>
    </div>


</div>
</body>

</html>