<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="hu">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Találd ki!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>

<body>

<div class="container-fluid pt-4">

    <div class="container pt-3">
        <div class="card">
            <div class="card-header bg-success text-white">
                <h5>Válaszok</h5>
            </div>
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Válassz kérdést!</h6>
                <div class="container">
                    <form action="#" th:action="@{/valaszok/getlist}" method="post">
                        <select th:name="kerdes_id" onchange="submit();">
                            <option
                                    th:each="kerdes : ${kerdesek}"
                                    th:value="${kerdes.Id}"
                                    th:selected="${kerdes.Id == akt_kerdes_id}"
                                    th:text="${kerdes.kerdesSzoveg}"></option>
                        </select>
                    </form>
                </div>
            </div>
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">A kérdéshez rögzített válaszok</h6>
                <div th:switch="${valaszok}" class="container">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Válasz szöveg</th>
                            <th>Helyes</th>
                        </tr>
                        </thead>
                        <tbody th:case="NA">
                            <tr><td colspan="3">Nincs válasz rögzítve!</td></tr>
                        </tbody>
                        <tbody th:case="*">
                        <tr th:each="valasz : ${valaszok}">
                            <td th:text="${valasz.id}"></td>
                            <td th:text="${valasz.valaszSzoveg}"></td>
                            <td th:text="${valasz.helyes}"></td>
                        </tr>
                        </tbody>
                        <form action="#" th:action="@{/valaszok/ujvalasz}" th:method="post">
                            <table class="table table-striped">
                                <tr>
                                    <td width="100%">
                                        <input type="hidden" name="kerdes_id" th:value="${akt_kerdes_id}">
                                        <input type="text" name="valasz_szoveg" class="form-control" id="valaszSzoveg"  placeholder="Írd be a választ!">
                                    </td>
                                    <td>
                                        <select name="helyes">
                                            <option th:value="1">Helyes</option>
                                            <option th:value="0">Helytelen</option>
                                        </select>
                                    </td>
                                    <td>
                                        <button type="submit" class="btn btn-primary">Új válasz</button>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </table>
                    <a href="/" class="btn btn-warning text-white">Vissza</a>
                </div>
            </div>
        </div>
    </div>

</div>
</body>

</html>